alembic==0.9.1
appdirs==1.4.3
beautifulsoup4==4.5.3
bs4==0.0.1
click==6.7
decorator==4.0.11
Flask==0.12
Flask-API==0.6.9
Flask-Migrate==2.0.3
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.9.5
lxml==3.7.3
Mako==1.0.6
MarkupSafe==1.0
packaging==16.8
pbr==2.0.0
PyMySQL==0.7.10
pyparsing==2.2.0
python-editor==1.0.3
requests==2.13.0
selenium==3.3.1
six==1.10.0
SQLAlchemy==1.1.6
sqlalchemy-migrate==0.11.0
sqlparse==0.2.3
Tempita==0.5.2
Werkzeug==0.12.1
xmltodict==0.10.2
