{% extends "base.html" %}
{% block navbar %}
<nav id="navbar-browse" class="navbar navbar-light bg-clear">
  <div class="row" id="navbar-main">
    <div class="col-md-2 text-center">
      <div class="navbar-col-content"><a class="navbar-brand" href="/browse">TigerShop</a></div>
    </div>
    <div class="col-md-7 text-center">
      <div class="navbar-col-content">
        <form class="form-inline">
          <select class="search-options">
            <option value="0">Any</option>
            <option value="1">Department Code</option>
            <option value="2">Distribution</option>
            <option value="3">Start Time</option>
            <option value="4">End Time</option>
          </select>
          <select class="resizing-search-select">
            <option class="resizing-search-option"></option>
          </select>
          <input class="search-text-field" type="text" placeholder="search courses"></input>
          <button class="btn btn-primary search-button"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row" id="navbar-footer">
    <div class="col-md-4">
      <div class="nav-section">
        <div class="nav">
          <a href="#" class="nav-link">Departments</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="nav-section">
        <div class="nav">
          <a href="#" class="nav-link">Distributions</a>
          <a href="#" class="nav-link">Easy PDFs</a>
          <a href="#" class="nav-link">GPA Boosters</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="nav-section">
        <div class="nav justify-content-end">
          <a class="nav-link" style="cursor: default;" id="account-greeting">Hi, {{ netid }}</a>
          <a href="/logout" class="nav-link" id="nav-account" class="btn nav-button">Your Account</a>
          <a href="/cart" class="nav-link" id="cart-button" class="btn nav-button">
            <i class="fa fa-shopping-cart fa-lg fa-2x" aria-hidden="true"></i>
            <span id="num-items-in-cart">1</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}
{% if courses|count > 0 %}
  <div id="browse-results-info">
    <span>{% if courses|count == 1 %}{{ num_results }}{% else %}{{ 1 + (current-1) * 12 }} - {% if num_results < current * 12 %}{{ num_results }}{% else %}{{ current * 12 }}{% endif %}{% endif %} of {{ num_results }} results for "{{ search }}"</span>
    <div class="browse-sort">
      <span>Sort by:</span>
      <select class="sort-options">
        <option value="recent">Avg. Rating</option>
        <option value="positive">Relevance</option>
      </select>
    </div>
  </div>
{% else %}
  <div class="no-match-container">
    <div class="jumbotron bg-clear">
      <h1 class="display-5">No courses matched your search "{{ search }}".</h1>
      <p>Princeton doesn't have what you're looking for. Check for typos or change the search option.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/browse" role="button"><span><i class="fa fa-angle-left" aria-hidden="true"></i></span>Back to Browse</a>
      </p>
    </div>
  </div>
{% endif %}
<div id="browse-page-content" class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <ul class="list-group">
      {% for course in courses %}
      <li class="list-group-item justify-content-between" data-aos="zoom-in" data-aos-once="true" data-aos-offset="-2000">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title"><a href="{{ course.url }}&amp;search={{ search }}&amp;page={{ current }}&amp;current=1">{{ course.dept }} {{ course.catalog_number }}</a></h4>
            <h6 class="card-subtitle mb-2">{{ course.title|striptags }}</h6>
            <div class="badges">
              <img src="/static/icons/svg/trophy.svg" />
              <img src="/static/icons/svg/badge.svg" />
              <img src="/static/icons/svg/warning.svg" />
            </div>
            <span class="browse-item-rating">
              <span><i class="fa fa-star" aria-hidden="true"></i></span>
              <span><i class="fa fa-star" aria-hidden="true"></i></span>
              <span><i class="fa fa-star" aria-hidden="true"></i></span>
              <span><i class="fa fa-star" aria-hidden="true"></i></span>
              <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
            </span>
            <p class="card-text">{{ course.description|striptags|striptags }}</p>
            <a href="{{ course.url }}&amp;search={{ search }}&amp;page={{ current }}&amp;current=1" class="card-link">See Details<span><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    <nav class="page-navigation" aria-label="Page navigation">
      <ul class="pagination">
        {% if current > 1 %}
          <li class="page-item"><a class="page-link course-link" href="#">Previous</a></li>
        {% endif %}
        {% if pages > 1 and pages < 10 %}
          {% for i in range(0, pages) %}
            {% if current == i+1 %}
              <li class="page-item active"><a class="page-link course-link" href="#">{{ i + 1 }}</a></li>
            {% else %}
              <li class="page-item"><a class="page-link course-link" href="#">{{ i + 1 }}</a></li>
            {% endif %}
          {% endfor %}
        {% endif %}
        {% if pages >= 10 and current < 5 %}
          {% for i in range(0, 5) %}
            {% if current == i+1 %}
              <li class="page-item active"><a class="page-link course-link" href="#">{{ i + 1 }}</a></li>
            {% else %}
              <li class="page-item"><a class="page-link course-link" href="#">{{ i + 1 }}</a></li>
            {% endif %}
          {% endfor %}
          <li class="page-item disabled"><a class="page-link course-link" href="#">...</a></li>
          <li class="page-item"><a class="page-link course-link" href="#">{{ pages }}</a></li>
        {% endif %}
        {% if pages >= 10 and current >= 5 and current <= pages-4 %}
          <li class="page-item"><a class="page-link course-link" href="#">1</a></li>
          <li class="page-item disabled"><a class="page-link course-link" href="#">...</a></li>
          <li class="page-item"><a class="page-link course-link" href="#">{{ current-1 }}</a></li>
          <li class="page-item active"><a class="page-link course-link" href="#">{{ current }}</a></li>
          <li class="page-item"><a class="page-link course-link" href="#">{{ current+1 }}</a></li>
          <li class="page-item disabled"><a class="page-link course-link" href="#">...</a></li>
          <li class="page-item"><a class="page-link course-link" href="#">{{ pages }}</a></li>
        {% endif %}
        {% if pages >= 10 and current > pages-4 %}
          <li class="page-item"><a class="page-link course-link" href="#">1</a></li>
          <li class="page-item disabled"><a class="page-link course-link" href="#">...</a></li>
          {% for i in range(pages-4, pages+1) %}
            {% if current == i %}
              <li class="page-item active"><a class="page-link course-link" href="#">{{ i }}</a></li>
            {% else %}
              <li class="page-item"><a class="page-link course-link" href="#">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
        {% endif %}
        {% if current < pages %}
          <li class="page-item"><a class="page-link course-link" href="#">Next</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
  <div class="col-md-2"></div>
</div>
{% endblock %}
