{% extends "base_course.html" %}
{% block navbar %}
<!-- This is cheese -->
<nav id="navbar-top" class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-black">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="row">
    <div class="col-md-2 d-flex align-items-center p-0">
      <div class="tiger"></div>
      <a class="navbar-brand" href="/browse" target="_self">TigerRant</a>
    </div>
    <div class="col-md-7 d-flex align-items-center">
      <div class="search-bar input-group">
        <span class="input-group-addon input-label mb-0">Find</span>
        <input class="search-text-field" type="text" placeholder="search courses"></input>
        <span class="input-group-addon search-button"><i class="fa fa-search" aria-hidden="true"></i></span>
      </div>
    </div>
    <div class="col-md-3 d-flex align-items-center">
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
        <div class="navbar-nav">
          <div class="dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="nav-account" class="btn nav-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hi, {{ netid }}</a>
            <div class="dropdown-menu" aria-labelledby="nav-account-button">
              <a id="logout-link" class="dropdown-item" href="/logout" target="_self">Sign Out</a>
            </div>
          </div>
          <a target="_self" href="/cart" class="nav-item nav-link" id="cart-button" class="btn nav-button">
            <i class="fa fa-shopping-cart fa-lg fa-2x" aria-hidden="true"></i>
            <span class="badge badge-default badge-pill">{{ incart }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<div id="navbar-footer" class="row">
  <div class="col-md">
    <!--raw-->
    <nav class="nav">
      <a href="{a returnURL a}" class="nav-link active" target="_self">
        <span><i class="fa fa-angle-left" aria-hidden="true"></i></span>Back to search results
      </a>
      <a class="nav-link" data-toggle="modal" data-target="#description-modal">Submit a Course Description!</a>
      <!--endraw-->
      <a target="_self" href="/course?id={{ course.c_id }}&amp;search={{ search }}&amp;page={{ current }}&amp;order={{ order }}&amp;add=1" class="add-link">Add Course to Cart</a>
    </nav>
  </div>
</div>
{% endblock %}
{% block content %}
<div id="course-page-content" class="row toggled">
  <!--raw-->
  <!-- Sidebar -->
  <div id="sidebar-btn" class="d-flex align-items-center justify-content-center"
       data-toggle="tooltip" data-placement="left" title="Toggle Rant Space">R
  </div>
  <div id="sidebar-wrapper">
    <div id="sidebar-top">
      <h1>Rant Space</h1>
      <div class="sidebar-top-buttons d-flex justify-content-end">
        <button class="hot" ng-click="getHotRants()"><i class="fa fa-fire" aria-hidden="true"></i></button>
        <button class="time" ng-click="getTimeRants()"><i class="fa fa-clock-o" aria-hidden="true"></i></button>
        <button class="refresh" ng-click="getRants()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
        <button class="add" data-toggle="modal" data-target="#rant-modal"><i class="fa fa-plus" aria-hidden="true"></i></button>
      </div>
    </div>
    <ul id="rants" class="list-group">
      <li class="list-group-item rant-post" ng-if="rants.length <= 0">
        <div class="card">
          <div class="card-block d-flex align-items-center">
            <p class="card-text">It's too quiet! Share something cool or complain about stuff.</p>
          </div>
        </div>
      </li>
      <li class="list-group-item rant-post" ng-repeat="rant in rants">
        <div class="card">
          <div class="card-block d-flex align-items-center">
            <p class="card-text">{a rant.text a}</p>
            <div class="vote-container" class="col-md-1">
              <div id="rant-upvote-{a rant.id a}" class="upvote" ng-class="{ highlight: rant.action == 1 }" ng-click="updateRant($index, 1)" onclick="highlight(this.id)"><i class="fa fa-lg fa-chevron-up"></i></div>
              <div id="rant-score-{a rant.id a}" class="score" ng-class="{ highlight: rant.action != 0 }" >{a rant.upvotes a}</div>
              <div id="rant-downvote-{a rant.id a}" class="downvote" ng-class="{ highlight: rant.action == -1 }" ng-click="updateRant($index, -1)" onclick="highlight(this.id)"><i class="fa fa-lg fa-chevron-down"></i></div>
            </div>
          </div>
          <div class="card-footer">
            <div class="timestamp">{a rant.timestamp a}
              <div class="num-replies dropdown-toggle" data-toggle="collapse" href="#replies-{a rant.id a}" aria-expanded="false" aria-controls="replies" ng-if="rant.replies.length == 1">1 reply</div>
              <div class="num-replies dropdown-toggle" data-toggle="collapse" href="#replies-{a rant.id a}" aria-expanded="false" aria-controls="replies" ng-if="rant.replies.length > 1">{a rant.replies.length a} replies</div>
            </div>
            <div class="reply-button">
              <a data-toggle="collapse" href="#your-reply-{a rant.id a}" aria-expanded="false" aria-controls="your reply">
                <i class="fa fa-lg fa-reply" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="collapse your-reply" id="your-reply-{a rant.id a}">
          <textarea placeholder="Add your reply..." class="your-reply-text" rows="3"></textarea>
          <a class="reply-send-button" ng-click="postReply($index)">SEND</a>
        </div>
        <div class="collapse replies" id="replies-{a rant.id a}" ng-if="rant.replies.length > 0">
          <div class="card" ng-repeat="reply in rant.replies">
            <div class="card-block d-flex align-items-center">
              <p class="card-text">{a reply.text a}</p>
              <div class="vote-container" class="col-md-1">
                <div id="reply-upvote-{a reply.id a}" class="upvote" ng-class="{ highlight: reply.action == 1 }" ng-click="updateReply($parent.$index, $index, 1)" onclick="highlight(this.id)"><i class="fa fa-lg fa-chevron-up"></i></div>
                <div id="reply-score-{a reply.id a}" class="score" ng-class="{ highlight: reply.action != 0 }">{a reply.upvotes a}</div>
                <div id="reply-downvote-{a reply.id a}" class="downvote" ng-class="{ highlight: reply.action == -1 }" ng-click="updateReply($parent.$index, $index, -1)" onclick="highlight(this.id)"><i class="fa fa-lg fa-chevron-down"></i></div>
              </div>
            </div>
            <div class="card-footer">
              <div class="timestamp">{a reply.timestamp a}</div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!--endraw-->
  <div class="col-md">
    <!--raw-->
    <div id="course-banner" class="course-banner">
      <div id="banner-card" class="card">
        <h3 id="course-title" class="card-title" ng-non-bindable>{{ course.dept }} {{ course.catalog_number }} - {{ course.title }}</h3>

        <div class="course-instructors" ng-repeat="instructor in terms[selectedTerm]['instructors']">
          <span>{a instructor.first_name a} {a instructor.last_name a}</span>
        </div>
        <ul class="list-group descriptions">
          <li class="list-group-item description" ng-if="approvedDescriptions.length > 0">
            <div class="card">
              <div class="card-block d-flex align-items-center">
                <h3 class="card-title"><span class="top-star"><i class="fa fa-star"></i></span>TOP DESCRIPTION</h3>
                <p class="card-text">{a approvedDescriptions[0].text a}</p>
                <div class="vote-container" class="col-md-1">
                  <div id="description-upvote-{a description.id a}" class="upvote" ng-class="{ highlight: approvedDescriptions[0].action == 1 }" ng-click="updateDescription(0, 1, true)" onclick="highlight(this.id)"><i class="fa fa-lg fa-chevron-up"></i></div>
                  <div id="description-score-{a description.id a}" class="score" ng-class="{ highlight: approvedDescriptions[0].action != 0 }">{a approvedDescriptions[0].upvotes a}</div>
                  <div id="description-downvote-{a description.id a}" class="downvote" ng-class="{ highlight: approvedDescriptions[0].action == -1 }" ng-click="updateDescription(0, -1, true)" onclick="highlight(this.id)"><i class="fa fa-lg fa-chevron-down"></i></div>
                </div>
              </div>
            </div>
          </li>
          <div class="card empty-description-card" ng-if="approvedDescriptions.length <= 0">
            <div class="card-block d-flex align-items-center justify-content-center">
              <button class="btn btn-secondary" data-toggle="modal" data-target="#description-modal">Be the first to get a description approved!</button>
            </div>
          </div>
          <div class="collapse" id="more-descriptions" ng-if="approvedDescriptions.length > 1">
            <li class="list-group-item description" ng-repeat="description in approvedDescriptions" ng-if="!$first">
              <div class="card">
                <div class="card-block d-flex align-items-center">
                  <p class="card-text">{a description.text a}</p>
                  <div class="vote-container" class="col-md-1">
                    <div id="description-upvote-{a description.id a}" class="upvote" ng-class="{ highlight: description.action == 1 }" ng-click="updateDescription($index, 1, true)" onclick="highlight(this.id)"><i class="fa fa-lg fa-chevron-up"></i></div>
                    <div id="description-score-{a description.id a}" class="score" ng-class="{ highlight: description.action != 0 }">{a description.upvotes a}</div>
                    <div id="description-downvote-{a description.id a}" class="downvote" ng-class="{ highlight: description.action == -1 }" ng-click="updateDescription($index, -1, true)" onclick="highlight(this.id)"><i class="fa fa-lg fa-chevron-down"></i></div>
                  </div>
                </div>
              </div>
            </li>
          </div>
        </ul>
        <div id="more-button-container" class="d-flex justify-content-center" ng-if="approvedDescriptions.length > 1"><a id="more-descriptions-button" class="collapsed" data-toggle="collapse" href="#more-descriptions" aria-expanded="false" aria-controls="collapseExample" onclick="showDescriptionsDisplay()">Show More</a></div>
        <div class="card official-card">
          <div class="card-block d-flex align-items-center">
            <h3 class="official-title">{{ course.grade_options }}</h3>
            <p class="official-text">{{ course.description }}</p>
            {% if course.distribution|length > 0 %}<h3 class="official2-title">{{ course.distribution }}</h3>{% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="banner-buttons row">
      <div class="orange-short-line"></div>
      <div class="col-md">
        <button id="purgatory-button" class="btn btn-secondary" data-toggle="modal" data-target="#purgatory-modal" ng-click="getDescriptions()">Click to See Description Purgatory<span class="badge badge-default badge-pill" ng-if="purgatoryDescriptions.length > 0">{a purgatoryDescriptions.length a}</span></button>
      </div>
      <div class="col-md">
        <button class="btn btn-secondary urban">Click to see the Official Description</button>
      </div>
      <button type="button" class="btn official">Click to see Urban Descriptions</button>
    </div>

    <!--<div class="terms" ng-show="true" data-aos="zoom-in" data-aos-offset="20" data-aos-once="true">-->
    <div class="terms" ng-show="true">
      <ul class="nav nav-tabs nav-justified d-flex justify-content-center">
        <li class="nav-item" ng-if="selectedTerm.length <= 0">
          <a class="nav-link empty">No Content Available</a>
        </li>
        <li class="nav-item" ng-repeat="(key, value) in terms" ng-if="selectedTerm.length > 0">
          <a class="nav-link" id="{a key a}" ng-class="{ active: key == selectedTerm}" ng-click="getCourseData(key)" onclick="$('.rating-lg-average').animateCss('zoomIn')">
            {a value['term_string'] a}</a>
        </li>
      </ul>
    </div>
    <!--<div class="row reviews-summary" ng-show="true" data-aos="zoom-in" data-aos-offset="0" data-aos-delay="250" data-aos-once="true">-->
    <div class="row reviews-summary" ng-show="true">
      <div class="col-md rating-display">
        <div class="rating-lg-average">
          {a selectedTerm.length > 0 ? terms[selectedTerm]['average_rating'] : "0.0" a}
        </div>
        <span class="rating-description">
          <span ng-if="terms[selectedTerm]['reviews'].length <= 0">
            Not Yet Rated For This Term
          </span>
          <span ng-if="terms[selectedTerm]['reviews'].length > 0">
            based on<span class="rating-total">{a terms[selectedTerm]['reviews'].length a}</span> reviews
          </span>
        </span>
        <button id="rate-course-button" class="btn btn-secondary" data-toggle="modal" data-target="#review-modal" ng-if="selectedTerm.length <= 0">Rate this course!</button>
      </div>
      <div class="col-md">
        <!-- rating-bars -->
        <div class="rating-bars">
          <div class="row">
            <div class="rating-num">5</div>
            <div class="star-container"><i class="rating-star fa fa-star" aria-hidden="true"></i></div>
            <div class="rating-bar">
              <div class="rating-bar-inner"></div>
            </div>
          </div>
          <div class="row">
            <div class="rating-num">4</div>
            <div class="star-container"><i class="rating-star fa fa-star" aria-hidden="true"></i></div>
            <div class="rating-bar">
              <div class="rating-bar-inner"></div>
            </div>
          </div>
          <div class="row">
            <div class="rating-num">3</div>
            <div class="star-container"><i class="rating-star fa fa-star" aria-hidden="true"></i></div>
            <div class="rating-bar">
              <div class="rating-bar-inner"></div>
            </div>
          </div>
          <div class="row">
            <div class="rating-num">2</div>
            <div class="star-container"><i class="rating-star fa fa-star" aria-hidden="true"></i></div>
            <div class="rating-bar">
              <div class="rating-bar-inner"></div>
            </div>
          </div>
          <div class="row">
            <div class="rating-num">1</div>
            <div class="star-container"><i class="rating-star fa fa-star" aria-hidden="true"></i></div>
            <div class="rating-bar">
              <div class="rating-bar-inner"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Review Section -->
    <div class="reviews">
      <div class="reviews-header row">
        <div class="col-md">
          <a id="write-review-button" class="" data-toggle="modal" data-target="#review-modal">Write a Review</a>
        </div>
        <div class="col-md center">
          <div class="reviews-sort" ng-if="selectedTerm.length > 0">
            <span>Sort by:</span>
            <!--<select class="sort-options" ng-model="TigerShopController.options.model" ng-change="onSelection()">
              <option ng-repeat="option in options.available" value="{a option.value a}">{a option.name a}</option>
              <option value="upvotes">Most Helpful</option>
              <option value="time">Most Recent</option>-->
              <nav id="sort" class="nav nav-pills flex-column flex-sm-row">
                <a id="helpful" onclick="clickHelpful()" class="flex-sm-fill text-sm-center nav-link active" href="#">Most Helpful</a>
                <a id="recent" onclick="clickRecent()" class="flex-sm-fill text-sm-center nav-link" href="#">Most Recent</a>
              </nav>
            </select>
          </div>
        </div>
      </div>
      <div class="no-reviews" ng-if="terms[selectedTerm]['reviews'].length <= 0">
        <p>There are no student reviews yet.</p>
      </div>
      <ul class="reviews-listing list-group" ng-if="selectedTerm.length > 0">
        <li class="list-group-item" ng-repeat="review in reviews">
          <blockquote class="blockquote">
            <p>{a review.text a}</p>
          </blockquote>
          <div class="like">
            <div class="thumbs-up">
              <span id="review-upvote-{a review.id a}" ng-class="{ highlight: review.action == 1 }" ng-click="updateReview($index, 1)" onclick="highlight(this.id)"><i class="fa fa-lg fa-lg fa-thumbs-up" aria-hidden="true"></i></span>
              <span id="review-score-{a review.id a}" ng-class="{ highlight: review.action != 0 }" class="num-likes" onclick="highlight(this.id)">{a review.upvotes a}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <nav class="page-navigation" aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item" ng-if="pages > 1" ng-class="{ disabled: currentPage <= 1 }"><a class="page-link review-link" ng-click="getReviewsForPage($event)" onclick="scrollToReviewsTop()">Previous</a></li>
        <li class="page-item" ng-if="pages > 1 && pages < 10" ng-repeat="(pageNum, isActive) in pageLinks track by $index" ng-class="{ active: isActive}"><a class="page-link review-link" ng-click="getReviewsForPage($event)" onclick="scrollToReviewsTop()">{a pageNum + 1 a}</a></li>

        <li class="page-item" ng-if="pages >= 10 && currentPage < 5 && pageNum < 5" ng-repeat="(pageNum, isActive) in pageLinks track by $index" ng-class="{ active: isActive }"><a class="page-link review-link" ng-click="getReviewsForPage($event)" onclick="scrollToReviewsTop()">{a pageNum + 1 a}</a></li>
        <li class="page-item disabled" ng-if="pages >= 10 && currentPage < 5"><a class="page-link review-link">...</a></li>
        <li class="page-item" ng-if="pages >= 10 && currentPage < 5"><a class="page-link review-link" ng-click="getReviewsForPage($event)" onclick="scrollToReviewsTop()">{a pages a}</a></li>

        <li class="page-item" ng-if="pages >= 10 && currentPage >= 5 && currentPage <= pages-4"><a class="page-link review-link" ng-click="getReviewsForPage($event)" onclick="scrollToReviewsTop()">1</a></li>
        <li class="page-item disabled" ng-if="pages >= 10 && currentPage >= 5 && currentPage <= pages-4"><a class="page-link review-link">...</a></li>
        <li class="page-item" ng-if="pages >= 10 && currentPage >= 5 && currentPage <= pages-4"><a class="page-link review-link" ng-click="getReviewsForPage($event)" onclick="scrollToReviewsTop()">{a currentPage - 1 a}</a></li>
        <li class="page-item active" ng-if="pages >= 10 && currentPage >= 5 && currentPage <= pages-4"><a class="page-link review-link" ng-click="getReviewsForPage($event)" onclick="scrollToReviewsTop()">{a currentPage a}</a></li>
        <li class="page-item" ng-if="pages >= 10 && currentPage >= 5 && currentPage <= pages-4"><a class="page-link review-link" ng-click="getReviewsForPage($event)" onclick="scrollToReviewsTop()">{a currentPage + 1 a}</a></li>
        <li class="page-item disabled" ng-if="pages >= 10 && currentPage >= 5 && currentPage <= pages-4"><a class="page-link review-link">...</a></li>
        <li class="page-item" ng-if="pages >= 10 && currentPage >= 5 && currentPage <= pages-4"><a class="page-link review-link" ng-click="getReviewsForPage($event)" onclick="scrollToReviewsTop()">{a pages a}</a></li>

        <li class="page-item" ng-if="pages >= 10 && currentPage > pages-4"><a class="page-link review-link" ng-click="getReviewsForPage($event)" onclick="scrollToReviewsTop()">1</a></li>
        <li class="page-item disabled" ng-if="pages >= 10 && currentPage > pages-4"><a class="page-link review-link">...</a></li>
        <li class="page-item" ng-if="pages >= 10 && currentPage > pages-4 && pageNum >= pages-5" ng-repeat="(pageNum, isActive) in pageLinks track by $index" ng-class="{ active: isActive }"><a class="page-link review-link" ng-click="getReviewsForPage($event)" onclick="scrollToReviewsTop()">{a pageNum + 1 a}</a></li>

        <li class="page-item" ng-if="pages > 1" ng-class="{ disabled: currentPage >= pages }"><a class="page-link review-link" ng-click="getReviewsForPage($event)" onclick="scrollToReviewsTop()">Next</a></li>
      </ul>
    </nav>
    <!--endraw-->
  </div>
  <!--
  <div class="col-md-2">
    <div class="tool-panel" data-aos="zoom-in" data-aos-once="true">
      <div class="card">
        <a href="/rant" class="btn disabled rant-space-button">
          <img class="card-img-top" src="/static/icons/svg/door.svg" alt="Card image cap">
        </a>
        <div class="card-block">
          <h7 class="card-subtitle">Enter Rant Space</h7>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h7 class="card-subtitle"></h7>
        </div>
        <a class="btn add-to-cart-button disabled" target="_self">
          <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
          <span>Add to Cart</span>
        </a>
      </div>
    </div>
  </div>-->
</div>
<div class="modal fade" id="purgatory-modal" tabindex="-1" role="dialog" aria-labelledby="purgatoryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">10 upvotes to bring a description out of purgatory!</h5>
      </div>
      <div class="modal-body">
        <!--raw-->
        <p id="empty-purgatory-message" ng-if="purgatoryDescriptions.length <= 0">Purgatory is currently empty.</p>
        <ul class="list-group" ng-if="purgatoryDescriptions.length > 0">
          <li class="list-group-item description" ng-repeat="description in purgatoryDescriptions">
            <div class="card">
              <div class="card-block d-flex align-items-center">
                <p class="card-text">{a description.text a}</p>
                <div class="vote-container" class="col-md-1">
                  <div id="description-upvote-{a description.id a}" class="upvote" ng-class="{ highlight: description.action == 1 }" ng-click="updateDescription($index, 1, false)" onclick="highlight(this.id)"><i class="fa fa-lg fa-chevron-up"></i></div>
                  <div id="description-score-{a description.id a}" class="score" ng-class="{ highlight: description.action != 0 }">{a description.upvotes a}</div>
                  <div id="description-downvote-{a description.id a}" class="downvote" ng-class="{ highlight: description.action == -1 }" ng-click="updateDescription($index, -1, false)" onclick="highlight(this.id)"><i class="fa fa-lg fa-chevron-down"></i></div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <!--endraw-->
      </div>
      <div class="modal-footer">
        <a data-dismiss="modal" ng-click="getDescriptions()">DONE</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="description-modal" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Your Course Description</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <textarea rows="1" class="form-control" id="description-text" placeholder="Let Princeton students know the truth"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a id="description-cancel-button" data-dismiss="modal">CANCEL</a>
        <a id="description-post-button">POST</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="rant-modal" tabindex="-1" role="dialog" aria-labelledby="rantModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Rant Space</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <textarea rows="1" class="form-control" id="rant-text" placeholder="Got something to say?"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a id="rant-cancel-button" data-dismiss="modal">CANCEL</a>
        <a id="rant-post-button">POST</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="review-modal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Rate and Review</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <!--raw-->
            <h3 id="term" data-term="{a selectedTerm a}">{a terms[selectedTerm]['term_string'] a}</h3>
            <!--endraw-->
            <label for="disclaimer" class="form-control-label">This review will be anonymous.</label>
            <div class="initial-rating d-flex align-items-center">
              <span id="star1"><i class="fa fa-lg fa-2x fa-star" aria-hidden="true"></i></span>
              <span id="star2"><i class="fa fa-lg fa-2x fa-star" aria-hidden="true"></i></span>
              <span id="star3"><i class="fa fa-lg fa-2x fa-star" aria-hidden="true"></i></span>
              <span id="star4"><i class="fa fa-lg fa-2x fa-star" aria-hidden="true"></i></span>
              <span id="star5"><i class="fa fa-lg fa-2x fa-star" aria-hidden="true"></i></span>
            </div>
          </div>
          <div class="form-group">
            <textarea rows="1" class="form-control" id="review-text" placeholder="Write about your experience in this course"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a id="review-cancel-button" data-dismiss="modal">CANCEL</a>
        <a id="review-post-button">POST</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
