{% extends "base_home.html" %}
{% block navbar %}
<nav id="navbar-home" class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-clear">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="row">
      <div class="col">
        <a class="navbar-brand" href="#">TigerShop</a>
      </div>
      <div class="col">
        <div class="navbar-nav d-flex justify-content-end">
          <div class="dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="nav-account" class="btn nav-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hi, {{ netid }}</a>
            <div class="dropdown-menu" aria-labelledby="nav-account-button">
              <a id="my-account" class="dropdown-item" href="/">My Account</a>
              <a id="logout-link" class="dropdown-item" href="/logout">Sign Out</a>
            </div>
          </div>
          <a class="nav-item nav-link" id="cart-button" class="btn nav-button">
            <i class="fa fa-shopping-cart fa-lg fa-2x" aria-hidden="true"></i>
            <span id="num-items-in-cart"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}
<div class="home-wrapper">
  <div class="tiger"></div>
  <div class="home-search">
    <div class="search-bar input-group">
      <span class="input-group-addon input-label mb-0">Find</span>
      <input class="search-text-field" type="text" placeholder="search courses, e.g. department, distribution, keyword"></input>
      <span class="input-group-addon search-button"><i class="fa fa-search" aria-hidden="true"></i></span>
    </div>
  </div>
</div>
{% endblock %}
