{% extends "base_index.html" %}
{% block content %}
<div class="landing">
  <nav id="navbar-index" class="navbar navbar-toggleable-md navbar-light bg-clear">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex justify-content-end">
        <a class="nav-item nav-link" href="#">Credits</a>
        <a class="nav-item nav-link" href="/login">Login</a>
      </div>
    </div>
  </nav>
  <!-- Icons designed by Freepik from www.flaticon.com -->
  <footer class="footer">
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <div class="footer-col-content">
          <div class="contact">
            <a href="#"><span><i class="fa fa-lg fa-2x fa-facebook" aria-hidden="true"></i></span></a>
            <a href="#"><span><i class="fa fa-lg fa-2x fa-twitter" aria-hidden="true"></i></span></a>
            <a href="#"><span><i class="fa fa-lg fa-2x fa-github-alt" aria-hidden="true"></i></span></a>
            <a href="#"><span><i class="fa fa-lg fa-2x fa-google-plus" aria-hidden="true"></i></span></a>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </footer>
</div>
{% endblock %}
