{% extends "base_index.html" %}
{% block content %}
<div class="landing">
  <nav id="navbar-index" class="navbar navbar-toggleable-md navbar-inverse bg-clear">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">TigerShop</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex justify-content-end">
        <a class="nav-item nav-link" href="#">Credits</a>
        <a class="nav-item nav-link" href="/login">Login</a>
      </div>
    </div>
  </nav>
  <div class="content-container">
    <div class="initial-message-container row">
      <div class="landing-message"><p>Have you ever tried course evaluations and left still not knowing what a course is really like?</p></div>
      <div class="landing-message">If you answered yes then we have the solution, <span>CourseBanter</span></div>
    </div>
    <div class="description-message-container row">
      <div class="col-md center">
        <img src="/static/img/Description-Explanation.png" alt="Example Course Description" class="desc-image">
      </div>
      <div class="col-md">
        <div class="desc-message">
          <span>CourseBanter</span> allows users to create their own course descriptions and decide which descriptions make it to the top through upvotes and downvotes.
        </div>
      </div>
    </div>
    <div class="rant-message-container row">
      <div class="col-md-7">
        <div class="rant-message">
          <span>CourseBanter</span> also provides a Rant Space for anonymous comments, concerns, and questions for each course, and users can decide which rants make it to the top.
        </div>
      </div>
      <div class="col-md-5 center">
        <img src="/static/img/Rant-Explanation.png" alt="Example Rant Description" class="rant-image">
      </div>
    </div>
  </div>
  <!-- Icons designed by Freepik from www.flaticon.com -->
  <footer class="footer">
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <div class="footer-col-content">
          <div class="contact">
            <a href="#"><span><i class="fa fa-lg fa-2x fa-facebook" aria-hidden="true"></i></span></a>
            <a href="#"><span><i class="fa fa-lg fa-2x fa-twitter" aria-hidden="true"></i></span></a>
            <a href="#"><span><i class="fa fa-lg fa-2x fa-github-alt" aria-hidden="true"></i></span></a>
            <a href="#"><span><i class="fa fa-lg fa-2x fa-google-plus" aria-hidden="true"></i></span></a>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </footer>
</div>
{% endblock %}
