body {
  height: 100%;
  font-family: "Lato";
  font-size: 16px;
  overflow: hidden;
  background-color: black;
}

a, a:link, a:active, a:visited {
  text-decoration: none;
  outline: none;
}

a:hover {
  cursor: pointer;
}

button {
  font-family: "Lato";
}

button:hover {
  cursor: pointer;
}

button:focus, textarea:focus {
  outline: none;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

select:focus {
  outline: none;
}

textarea {
  height: 56px;
  resize: none;
}

/* Bootstrap Overrides */

.navbar {
  padding: 0;
}

.navbar-inverse .navbar-brand {
  color: #ee7f2d;
}

.navbar-toggleable-md .navbar-nav .nav-link {
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.navbar-inverse .navbar-nav .nav-link {
  color: #ee7f2d;
}

.navbar-inverse .navbar-nav .nav-link:hover, .navbar-inverse .navbar-nav .nav-link:focus {
  color: #ee7f2d;
}

.navbar-inverse .navbar-nav .nav-link.active {
  color: #ee7f2d;
  border-bottom: 3px solid #ee7f2d;
}

.row {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  max-width: 100%;
}

.btn:focus, .btn:hover, .btn:active, .btn:active:focus {
  outline: none;
  box-shadow:none;
}

.btn-primary {
  background-color: #ee7f2d;
  border: none;
  color: black;
}

.btn-primary:hover {
  background-color: #ee7f2d;
  color: white;
}

.btn-secondary, .btn-secondary:hover {
  color: white;
  background-color: transparent;
  border: 1px solid white;
}

.input-group-addon {
  width: 5rem;
  font-weight: bold;
}

.card {
  border: none;
}

.card img {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
}

.card p {
  font-weight: 200;
}
.card-text {
  font-size: 1rem;
}

.page-link {
  border: 1px solid white !important;
  background-color: black;
}

a.page-link {
  color: white !important;
}

.page-item.active .page-link {
  color: white;
  background-color: #ee7f2d;
  border-color: white;
}

.page-link:hover {
  background-color: white;
}

a.page-link:hover {
  color: black !important;
}

.page-item.disabled .page-link {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  color: white;
  background-color: black;
}

.dropdown-menu {
  padding: 0;
  margin: 0;
  border: 1px solid white;
  background-color: black;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: #ee7f2d;
}

.form-control, .form-control:focus {
  color: white;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid white;
  border-radius: 0;
}

.form-control::-webkit-input-placeholder { color: #e6e6e6; font-weight: 300; }
.form-control::-moz-placeholder          { color: #e6e6e6; font-weight: 300; }
.form-control:-moz-placeholder           { color: #e6e6e6; font-weight: 300; }
.form-control:-ms-input-placeholder      { color: #e6e6e6; font-weight: 300; }

/* navbar */

.bg-black {
  background: black;
}

.tiger {
  width: 50%;
  height: 5rem;
  background: url("/static/img/tiger.jpg") no-repeat center;
  background-size: cover;
}

#navbar-top {
  height: 5rem;
}

#navbar-footer {
  position: absolute;
  top: 5rem;
  left: 0rem;
  width: 100%;
  height: 2.5rem;
  background-color: #202020;
}

#navbar-footer .nav-link {
  margin-right: 2rem;
}

#navbar-footer span {
  margin-right: 0.5rem;
}

#navbar-top a.nav-link, #navbar-footer a.nav-link {
  color: #ee7f2d;
}

#nav-account {
  color: #ee7f2d;
  padding-left: 0;
  padding-right: 0;
  font-size: 1rem;
}

#cart-button {
  padding-left: 0;
  padding-right: 0;
}

/* search bar */

.input-label {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.search-bar {
  height: 3rem;
}

.search-text-field {
  padding-left: 1rem;
  border-top: 1px solid white;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  font-size: 1.1rem;
  color: white;
  background-color: transparent;
  flex-grow: 1;
  outline: none;
}

.search-text-field:focus, .search-text-field:hover {
  outline: none;
}

.search-text-field::-webkit-input-placeholder { color: white; font-weight: 100; }
.search-text-field::-moz-placeholder          { color: white; font-weight: 100; }
.search-text-field:-moz-placeholder           { color: white; font-weight: 100; }
.search-text-field:-ms-input-placeholder      { color: white; font-weight: 100; }

.search-button {
  width: 4rem;
  max-width: 4rem;
  color: white;
  background-color: black;
  border: 1px solid white;
  cursor: pointer;
}

.search-button:hover, .search-button:focus {
  color: black;
  background-color: white;
}

/* course page */

#course-page-content {
  margin-top: 7.5rem;
  position: relative;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 1rem;
  overflow-y: auto;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  height: 80%;
}

#course-page-content.toggled {
  padding-left: 0;
  padding-right: 40%;
  margin-left: 0rem;
  margin-right: 0rem;
}

#course-page-content .card-title a {
  color: #303030;
}

#course-page-content .tool-panel {
  margin-top: 1rem;
}

#course-page-content .tool-panel .card {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #303030;
}

#course-page-content .tool-panel .card .card-block {
  padding: 0.5rem;
}

#course-page-content .tool-panel .rant-space-button img {
  height: 5rem;
}

#course-page-content .tool-panel .add-to-cart-button {
  position: relative;
  padding: 0.2rem;
  margin: 0 auto 2rem;
  width: 90%;
  height: 2rem;
  border-radius: 0.2rem;
  background-color: #f6f6f6;
  color: #303030;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

#course-page-content .tool-panel .add-to-cart-button i {
  position: absolute;
  left: 5%;
  top: 20%;
  height: 60%;
}

#course-page-content .tool-panel .add-to-cart-button span {
  position: absolute;
  width: 50%;
  height: 1.6rem;
  top: 0.2rem;
  left: 25%;
}

/* Reviews Wrapper */

.row-outline-bottom {
  border-bottom: 1px solid #303030;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.125);
}

.course-banner .card {
  padding: 1rem 0.2rem 0.2rem 0.2rem;
  margin-top: 1.5rem;
  width: 100%;
  background-color: #ee7f2d;
  border-radius: 0.5rem;
  text-align: center;
}

.course-banner .card-title {
  color: white;
  padding: 0.2rem 2rem;
}

.course-instructors {
  color: white;
  padding: 0.5rem 0;
  background-color: black;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font-weight: 300;
}

.course-banner a {
  color: black;
}

.course-instructors span {
  padding: 0.2rem;
}

.descriptions .list-group-item {
  margin-top: 0.2rem;
  margin-bottom: 0rem;
  border-radius: 0rem;
}

.description {
  padding: 0;
  background-color: black;
}

.description .card {
  position: relative;
  color: white;
  background-color: black;
  border-color: black;
  padding: 1.25rem;
  margin: 0;
}

.description .card-title {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  margin: 0;
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
  border: 1px solid #ee7f2d;
  border-radius: 0.25rem;
}

.description .card-title .top-star {
  color: #ee7f2d;
  padding-right: 0.2rem;
}

.description .card-text {
  width: 95%;
  margin: 0;
}

#more-button-container {
  z-index: 1;
  padding-top: 0.1rem;
  margin-top: -1rem;
  background-color: black;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

#more-descriptions-button {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding-left: 0.5em;
  padding-right: 0.5rem;
  color: white;
  background-color: #ee7f2d;
  display: block;
  width: 6.2rem;
}

.vote-container {
  width: 5%;
  display: inline-block;
  text-align: center;
}

.upvote, .downvote {
  color: #ee7f2d;
  cursor: pointer;
}

.score {
  padding: 0.1rem 0;
}

.reviews-summary {
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 13rem;
  width: 100%;
  background-color: black;
  border: 1px solid white;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#course-page-content.toggled .reviews-summary {
  height: 12rem;
}

.rating-display {
  text-align: center;
}

.rating-lg-average {
  color: white;
  font-size: 5rem;
  font-weight: 300;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.rating-total {
  font-size: 1.5rem;
  font-weight: 300;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  color: white;
}

.rating-description {
  font-weight: 300;
  font-size: 1rem;
  color: white;
}

#rate-course-button:hover {
  -ms-transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

/* initial ratings */

.initial-rating {
  padding-top: 0.5rem;
  color: #e6e6e6;
}

.initial-rating span {
  padding-right: 1rem;
  cursor: pointer;
}

.initial-rating span.active {
  color: #ee7f2d;
}

/* rating bars */

.rating-bars {
  color: white;
  height: 10rem;
}

.rating-bars .row {
  height: 18%;
  margin-bottom: 2%;
}

.rating-num {
  font-size: 1.7rem;
  font-weight: 300;
  height: 100%;
  line-height: 100%;
  width: 1rem;
}

.star-container {
  height: 100%;
  padding-left: 0.5rem;
  padding-right: 0.7rem;
}

.rating-star {
  position: relative;
  font-size: 1.2rem;
  height: 70%;
  top: 15%;
}

.rating-bar {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 80%;
  float: right;
}

.rating-bar-inner {
  background-color: white;
  height: 100%;
  width: 0;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  -webkit-transition: width 0.6s linear;
  -moz-transition: width 0.6s linear;
  transition: width 0.6s linear;
}

/* term tabs */

.terms {
  padding-top: 0.2rem;
  margin-top: 1rem;
  background-color: black;
}

.terms .nav-tabs {
  border-bottom: none;
}

.terms .nav-tabs .nav-link {
  padding: 0.5rem;
  color: white;
  background-color: #ee7f2d;
  border: 1px solid white;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.terms .nav-tabs .nav-link:hover {
  color: white;
  background-color: black;
}

.terms .nav-tabs .nav-link.empty {
  color: white;
  background-color: black;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.terms .nav-tabs .active {
  color: white;
  background-color: black;
}

.terms .nav-tabs .active:hover {
  color: white;
  background-color: black;
}

/* reviews */

.sort-options {
  width: 8rem;
  max-width: 8rem;
  height: 1.5rem;
  border-color: white;
  border-radius: 0.5rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: 300;
  color: white;
  background: url("/static/icons/svg/sort-arrows-white.svg") no-repeat center;
  background-size: 0.6rem 0.6rem;
  background-position-x: 7rem;
}

.reviews {
  color: white;
  font-size: 1rem;
}

.reviews .reviews-header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}

.reviews .reviews-title {
  float: left;
  padding-left: 0.2rem;
  padding-top: 0.2rem;
  width: 15rem;
}

.reviews .reviews-title h4 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

#write-review-button:hover {
  -ms-transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.reviews .reviews-sort {
  float: right;
}
.reviews .reviews-sort select {
  width: 8rem;
  display: inline-block;
}

.reviews .list-group-item {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 1px solid #ee7f2d;
  position: relative;
  min-height: 7rem;
}

.reviews .blockquote {
  font-weight: 200;
  width: 90%;
  max-width: 90%;
  margin-top: 0.5rem;
  margin-left: 0.2rem;
  margin-bottom: 0.5rem;
  padding-top: 0;
  border-left: none;
  word-wrap: break-word;
}

.reviews .sentiment {
  position: absolute;
  bottom: 0.5rem;
  right: 5rem;
}

.reviews .thumbs-up {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
}

.reviews .thumbs-up span i:hover {
  cursor: pointer;
}

/* forms */
label {
  font-weight: 300;
}

.modal-content {
  border: 1px solid white;
}

.modal-header {
  color: black;
  background-color: #ee7f2d;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom: none;
}

.modal-body {
  color: white;
  background-color: black;
}

.modal-footer {
  border-top: none;
  background-color: #ee7f2d;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.modal-footer a {
  color: black !important;
  font-weight: bold;
}

.modal-footer a:hover {
  color: white !important;
}
