body {
  height: 100%;
  font-family: "Lato";
  font-size: 16px;
  overflow-x: hidden;
  background-color: black;
}

a:hover {
  cursor: pointer;
}

a, a:link, a:active, a:visited {
  text-decoration: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

button:focus, textarea:focus {
  outline: none;
}

/* Bootstrap Overrides */

.navbar {
  padding: 0;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-toggler {
  padding-left: 2rem;
  color: #ee7f2d;
}

.navbar-nav {
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
}

.navbar-toggleable-md .navbar-nav .nav-link {
  width: 4rem;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.navbar-inverse .navbar-nav .nav-link {
  color: #ee7f2d;
}

.navbar-inverse .navbar-nav .nav-link:hover {
  color: white;
}

.navbar-inverse .navbar-nav .nav-link.active {
  color: white;
  border-bottom: 3px solid white;
}

.row {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  max-width: 100%;
}


/* Font Awesome */

/* AOS extras */
[data-aos='fade-up-little'] {
  transform: translate(0, 10%);
}

#navbar-index {
  height: 6rem;
}

.landing {
  position: relative;
  width: 100%;
  height: 100%;
}

.initial-message-container {
  min-height: 300px;
  background-color: black;
}

.description-message-container {
  min-height: 450px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rant-message-container {
  min-height: 450px;
  background-color: #ee7f2d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.landing-message {
  position: relative;
  width: 75%;
  left: 12.5%;
  text-align: center;
  color: #ee7f2d;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.desc-message, .rant-message {
  text-align: left;
  color: black;
  font-size: 2rem;
  margin-right: 0.75rem;
}

.rant-message {
  color: white;
  margin-left: 3.0rem;
  margin-right: 0;
}

.desc-message span {
  color: #ee7f2d;
  font-weight: 600;
}

.rant-message span {
  color: black;
  font-weight: 600;
}

.desc-image, .rant-image {
  border-radius: 0.5rem;
}

.desc-image:hover, .rant-image:hover {
  -ms-transform: scale(1.15, 1.15);
  -webkit-transform: scale(1.15, 1.15);
  transform: scale(1.15, 1.15);
}

.landing-message span {
  color: white;
  font-weight: 600;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 4rem;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  color: white;
}

.contact {
  padding: 0;
  position: relative;
  top: 48%;
}

.footer-text {
  font-size: 0.8rem;
}

.footer a {
  color: #ee7f2d;
}

.footer a:hover {
  color: white;
}

.footer span {
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer-col-content {
  padding: 0;
  position: relative;
  top: 50%;
}
