body {
  height: 100%;
  font-family: "Lato";
  font-size: 16px;
  overflow-x: hidden;
  height: 800px;
  background-color: black;
}

a:hover {
  cursor: pointer;
}

a, a:link, a:active, a:visited {
  text-decoration: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

button:focus, textarea:focus {
  outline: none;
}

/* Bootstrap Overrides */

.navbar {
  padding: 0;
  height: 10%;
  border-bottom: 1px solid #ee7f2d;
  background-color: black;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-toggler {
  padding-left: 2rem;
  color: #ee7f2d;
}

.navbar-nav {
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
}

.navbar-toggleable-md .navbar-nav .nav-link {
  width: 4rem;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.navbar-inverse .navbar-nav .nav-link {
  color: #ee7f2d;
}

.navbar-inverse .navbar-nav .nav-link:hover {
  color: white;
}

.navbar-inverse .navbar-nav .nav-link.active {
  color: white;
  border-bottom: 3px solid white;
}

.row {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  max-width: 100%;
}


/* Font Awesome */

/* AOS extras */
[data-aos='fade-up-little'] {
  transform: translate(0, 10%);
}

#navbar-index {
  height: 6rem;
}

.landing {
  position: relative;
  width: 100%;
  height: 100%;
}

.landing-message {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 40%;
  left: 30%;
  top: 15%;
  text-align: center;
  font-weight: 600;
  color: #ee7f2d;
  font-size: 2rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}

.contact {
  padding: 0;
  position: relative;
  top: 48%;
}

.footer-text {
  font-size: 0.8rem;
}

.footer a {
  color: #ee7f2d;
}

.footer a:hover {
  color: white;
}

.footer span {
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer-col-content {
  padding: 0;
  position: relative;
  top: 50%;
}

#big-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.15rem;
  font-weight: 400;
  padding: 1.5rem;
  border: 1px solid #ee7f2d;
  border-top: none;
  border-bottom: none;
  width: 25%;
  background-color: #ee7f2d;
}

#big-login:hover {
  font-weight: 600;
  font-size: 1.25rem;
  -ms-transform: scale(1.05, 1.025);
  -webkit-transform: scale(1.05, 1.025);
  transform: scale(1.05, 1.025);
}

.center-h {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.start-down-arrow-left {
  width: 50%;
  height: 45%;
  top: 0px;
  background: linear-gradient(to right bottom, white 50%, transparent 50%);
}

.start-down-arrow-right {
  width: 50%;
  height: 45%;
  top: 0px;
  background: linear-gradient(to left bottom, white 50%, transparent 50%);
}

.start-down-arrow p {
  position: absolute;
  top: 30%;
}

.box {
  background-color: white;
  margin: 2rem 0;
}
