/* bootstrap overrides */

.rant-post .card-text {
  padding-right: 5%;
  margin: 0;
}

.card-block {
  padding: 0;
}

.list-group-item {
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

#sidebar-btn {
  z-index: 999;
  position: fixed;
  right: 0px;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  -webkit-transition: right 0.2s ease-out;
  -moz-transition: right 0.2s ease-out;
  -o-transition: right 0.2s ease-out;
  transition: right 0.2s ease-out;
}

#sidebar-btn span {
  display: block;
  border-top: 0.2rem solid white;
  height: 1rem;
  margin-left: 20%;
}

#sidebar-btn span:nth-child(2) {
  display: block;
  border-top: 0.2rem solid white;
  margin-left: 50%;
  height: 1rem;
}

#sidebar-btn span:nth-child(3) {
  display: block;
  border-top: 0.2rem solid white;
  margin-left: 80%;
  height: 1rem;
}

#course-page-content.toggled #sidebar-btn {
  position: fixed;
  right: 40%;
}

#sidebar-wrapper {
  z-index: 999;
  position: fixed;
  right: -40%;
  width: 40%;
  height: 100%;
  overflow-y: auto;
  background: white;
  -webkit-transition: right 0.2s ease-out;
  -moz-transition: right 0.2s ease-out;
  -o-transition: right 0.2s ease-out;
  transition: right 0.2s ease-out;
}

#course-page-content.toggled #sidebar-wrapper {
  right: 0px;
}

#sidebar-wrapper .sidebar-top {
  position: relative;
  height: 3rem;
  background-color: black;
  color: #ee7f2d;
  box-shadow: 0 4px 2px -2px black;
}

#sidebar-wrapper h1 {
  display: inline-block;
  font-size: 1.5rem;
  height: 2rem;
  width: 70%;
  margin: 0 2rem;
}

.refresh {
  position: absolute;
  right: 2rem;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  color: #ee7f2d;
  background-color: transparent;
  border: 1px solid #ee7f2d;
}

.rants {
  height: 100%;
  padding: 2rem;
  background-color: #fafafa;
}
