body {
  font-family: "Lato";
  font-size: 16px;
  overflow-x: hidden;
  background-color: black;
}

/*New course.html*/
#write-review-modal .modal-content {
  background-color: black
}

#write-review-modal .modal-dialog {
  background-color: white;
}

#write-review-modal .modal-header, #write-review-modal .modal-header .close {
  color: white;
}

.modal-input-vert {
  margin-top: 120px;
  height: 200px;
}

.vert {
  height: 350px;
}

.revert {
  height: 230px
}

.initial-rating .initial-rating-message {
  margin: 1rem 0;
  font-weight: 300;
  text-align: center;
  color: white;
}
.initial-rating {
  justify-content: center;
  position: absolute;
  color: white;
  top: 2%;
  left: 17%;
}

.initial-rating span {
  padding-left: 1rem;
  cursor: pointer;
}

.initial-rating span.active {
  padding-left: 1rem;
  color: #ee7f2d;
  cursor: pointer;
}

#name-desc-panel {
  border: 2px solid #ee7f2d;
  border-top: none;
}

#review-ratings-container {
  border: 4px solid #ee7f2d;
  width: 100%;
}

#desc-header {
  padding: 0.25rem;
  color: white;
  background-color:#ee7f2d;
  font-weight: 400;
  font-size: 1.85rem;
  text-align: center;
}

#desc-entry-container {
  border-bottom: 2px solid #ee7f2d;
}

#name-desc-container {
  margin-bottom: 1.0rem;
}

#terms-container {
  color: white;
  background-color: #ee7f2d;
  border: 1px solid #ee7f2d;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 500;
}

#terms-container .nav-tabs .nav-link:hover {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid #f6f6f6;
  background-color: #f6f6f6;
  color: black;
}

#terms-container .nav-tabs .nav-item {
  border: 1px solid white;
}

#terms-container .nav-tabs .active {
  color: white;
  background-color: black;
  border: 1px solid black;
}

#vote-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0.5rem 0;
}

#reply-vote-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0.25rem 0;
}

.votes {
  justify-content: right;
}

.center {
  text-align: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.desc-center {
  text-align: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.desc-left {
  position: absolute;
  left: 0%;
  margin: 0.65rem;
  margin-left: 0.85rem;
  background-color: transparent;
  color: white;
  font-size: 1.25rem;
  border-top: 2px solid #ee7f2d;
  border-right: 2px solid #ee7f2d;
}

.desc-right {
  position: absolute;
  right: 0%;
  background-color: transparent;
  color: white;
  font-size: 1.25rem;
  border-top: 2px solid #ee7f2d;
  border-left: 2px solid #ee7f2d;
  margin: 0.65rem;
  margin-right: 0.80rem;
}

#reveal-desc {
  color: #2d67ee;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0 0 1.0rem 0;
}

.back-to .return-link {
  color: #2d67ee;
  font-size: 1.0rem;
  font-weight: 500;
}

.review-footer {
  color: #2d67ee;
  font-size: 1.15rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

#modal-link {
  color: #2d67ee;
  font-size: 1.5rem;
  font-weight: 400;
}

#sort-container {
  position: absolute;
  left: 1.0rem;
}

#sort-container .dropdown .btn {
  background-color: black;
  border: 1px solid #ee7f2d;
  color: white;
}

#write-review-modal .modal-footer .btn {
  background-color: #ee7f2d;
  color: white;
  font-weight: 500;
}

#sort-container .dropdown-menu {
  background-color: black;
  color: white;
  border: 1px solid #ee7f2d;
}

.reviews-listing .panel {
  color: white;
  border-bottom: 2px solid #ee7f2d;
  width: 100%;
}

#replies-content {
  width: 100%;
}

.reviews-listing #replies-content .panel {
  color: white;
  border-bottom: 2px solid #ee7f2d;
  border-left: 3rem solid #ee7f2d;
  width: 100%;
}

.reviews-listing .col-md-11 {
  text-align: left;
  padding: 1.0rem;
  font-size: 1.15rem;
}

#new-review-sorting .panel {
  margin: 1.0rem 0 1.0rem 0;
  width: 100%;
}

#new-review-sorting .panel .panel-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#new-review-sorting {
  border-top: 2px solid #ee7f2d;
  border-bottom: 2px solid #ee7f2d;
  justify-content: center;
}

#desc-entry-container a:hover {
  color: #77b0fc;
}

#upvote, #downvote, #re-upvote, #re-downvote {
  color: white;
}

#upvote .fa-chevron-up:hover, #downvote .fa-chevron-down:hover, #re-upvote .fa-chevron-up:hover, #re-downvote .fa-chevron-down:hover {
  color: #ee7f2d;
}

#curr-vote {
  color: white;
  font-weight: 300;
  font-size: 1.50rem;
}

#re-curr-vote {
    color: white;
  font-weight: 300;
  font-size: 1.15rem;
}

#instructors {
  border-bottom: 2px solid #ee7f2d;
  color: white;
  font-weight: 300;
  font-size: 1.50rem;
  padding: 0.5rem;
  justify-content: center;
}

#other-desc {
  width: 100%
}

.description {
  color: white;
  font-weight: 200;
  font-size: 1.25rem;
  padding: 1.5rem 0.75rem 1.5rem 1.5rem;
  text-align: left;
}

.rating-bar {
  margin: 0;
  padding: 0;
  height: 100%;
  margin-right: 0.5rem;
  width: 90%;
  float: right;
}

.rating-bars {
  color: white;
  height: 10rem;
  margin: 1.5rem 0 0.5rem 0;
}

.rating-bars .row {
  height: 10%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
}

.pagination {
  background-color: #ee7f2d;
  justify-content: center;
}

.page-item.active .page-link {
  color: white;
  background-color: black;
  border-color: white;
}

.page-item.disabled .page-link {
  color: white;
  background-color: #f0ad4e;
  border-color: white;
}

a:not([href]):not([tabindex]) {
  color: white;
}

.page-item.active a:hover {
  color: white;
}

.page-link {
  background-color: #ee7f2d;
  color: white;
}

.new-rating-average {
  color: white;
  font-size: 3.5rem;
  font-weight: 300;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.new-rating-description {
  font-weight: 300;
  font-size: 1.0rem;
  color: white;
}

.new-rating-total {
  font-size: 1.50rem;
  font-weight: 300;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  color: white;
}

#navbar-main .nav-section .nav {
  height:100%;
}

.back-to {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#navbar-footer .nav-link {
  font-weight: 500;
  height: 2.8rem;
  color: white;
}

.page-item .ng-scope .disabled {
  background-color: #f99952
}

/************/

.footer {
  height: 16rem;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #303030;
}

.footer a {
  color: #303030;
}

.footer span {
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer-col-content {
  padding: 0;
  position: relative;
  top: 50%;
}

.back-to-top {
  text-align: center;
}

.contact {
  padding: 0;
  position: relative;
  top: 48%;
}

.footer-text {
  font-size: 0.8rem;
}

a:hover {
  cursor: pointer;
}

a, a:link, a:active, a:visited {
  text-decoration: none;
  outline: none;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

select:focus {
  outline: none;
}

.select {

}

button:hover {
  cursor: pointer;
}

button:focus, textarea:focus {
  outline: none;
}

/* Bootstrap Overrides */

.navbar {
  padding: 0;
}

.navbar-toggleable-md .navbar-nav .nav-link {
  width: 4rem;
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #303030;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: black;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #303030;
  border-bottom: 3px solid #303030;
}

.row {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  max-width: 100%;
}

.btn:focus, .btn:hover, .btn:active, .btn:active:focus {
  outline: none;
  box-shadow:none;
}

.btn-primary {
  color: white !important;
}

.btn-primary:hover {
  background-color: #303030;
  border-color: #303030;
}

.badge-default {
  background-color: #303030;
}

.page-item a {
  color: #303030;
}
/* Font Awesome */

/* AOS extras */
[data-aos='fade-up-little'] {
  transform: translate(0, 10%);
}

/* Layout */

.full-width {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.full-height {
  height: 100%;
}

.bg-placeholder {
  height: 30rem;
}

.bg-clear {
  background: rgba(0, 0, 0, 0);
}

.bg-black {
  background: black;
}

.bg-home {
  background: url("/static/img/home-background.jpg") no-repeat center;
  background-size: cover;
  height: 40rem;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

/* navbar custom */

#navbar-home {
  height: 6rem;
}

#navbar-browse {
  height: 8rem;
}

#navbar-main {
  height: 5rem;
}

#navbar-footer {
  height: 3rem;
  background-color: black;
  color: white;
  border-top: 2px solid #ee7f2d;
  border-bottom: 2px solid #ee7f2d;
}


#navbar-home.shrink {
  background: rgba(0, 0, 0, 0.3);
  height: 4rem;
  -webkit-transition: height 300ms ease-in-out;
  -moz-transition: height 300ms ease-in-out;
  -o-transition: height 300ms ease-in-out;
  transition: height 300ms ease-in-out;
}

#navbar-home.shrink .navbar-brand {
  color: white;
}

#navbar-home.shrink .navbar-nav .nav-link {
  color: white;
}

#navbar-home.shrink .navbar-nav .nav-link.active {
  border-bottom: 3px solid white;
}

.account-greeting {
  line-height: 100%;
}

.nav-section {
  padding: 0;
  height: 2.8rem;
  margin: 0.1rem;
  width: 100%;
}

.navbar-col-content {
  position: relative;
  height: 50%;
  top: 25%;
  margin: 0 auto;
}

select.search-options {
  height: 2.5rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-color: rgba(0, 0, 0, 0.25);
  background: url("/static/icons/svg/arrow-down.svg") no-repeat center;
  background-size: 0.5rem 0.5rem;
}

select.resizing-search-select, select.resizing-sort-select {
  display: none;
}

.search-text-field {
  height: 2.5rem;
  padding-left: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0;
  font-size: 1rem;
  color: #303030;
  background-color: white;
  flex-grow: 1;
}

.search-text-field:focus, .search-text-field:hover {
  background-color: white;
  outline: none;
  border-color: #303030;
}

.search-text-field::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.25); font-weight: 100; }
.search-text-field::-moz-placeholder          { color: rgba(0, 0, 0, 0.25); font-weight: 100; }
.search-text-field:-moz-placeholder           { color: rgba(0, 0, 0, 0.25); font-weight: 100; }
.search-text-field:-ms-input-placeholder      { color: rgba(0, 0, 0, 0.25); font-weight: 100; }

.search-button {
  float: left;
  width: 3rem;
  max-width: 3rem;
  height: 2.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #303030;
  border-color: #303030;
  cursor: pointer;
}

.search-button:focus {
  background-color: black;
}

/* Index Content */

.hero-wrapper {
  padding-top: 6rem;
  color: #303030;
  text-align: center;
}

.hero {
  margin-left: 20%;
  width: 60%;
}

.section {
  padding: 5rem 2rem 5rem 2rem;
}

.card {
  border: none;
}

.card img {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
}

.card p {
  font-weight: 200;
}

/* home page */

#departments, #distributions {
  margin: 2rem 6rem;
}

#departments .btn, #distributions .btn {
  width: 100%;
  font-size: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 1rem;
  word-wrap:break-word;
}

#departments .btn-secondary:hover, #distributions .btn-secondary:hover {
  background-color: #303030;
  color: white;
}

#departments .dept-name {
  display: block;
  font-size: 1rem;
}

/* browse page */

#browse-results-info {
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.2rem;
  height: 2rem;
  border-bottom: 1px solid rgba(0,0,0,.125);
  box-shadow: 0px 1px #F6F6F6;
  margin-bottom: 0.5rem;
}

#browse-results-info span {
  line-height: 1.6rem;
  height: 1.6rem;
  font-weight: 300;
  display: inline-block;
}

#browse-results-info .browse-sort {
  position: absolute;
  top: 0;
  right: 2rem;
  width: 12rem;
}

.sort-options {
  width: 8rem;
  max-width: 8rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-color: rgba(0, 0, 0, 0.25);
  background: url("/static/icons/svg/sort-arrows.svg") no-repeat center;
  background-size: 0.6rem 0.6rem;
  background-position-x: 7rem;
}

#browse-page-content {
  color: #303030;
  padding-bottom: 1rem;
}

#browse-page-content .list-group-item {
  margin-bottom: 0.5rem;
}

#browse-page-content .card, #cart .card {
  width: 100%;
}

#browse-page-content .card-title, #cart .card-title {
  width: 50%;
}

#browse-page-content .card-title a:hover, #cart .card-title a:hover {
  border-bottom: 0.2rem solid #004A8B;
}

#browse-page-content .card-title span {
  padding-left: 0.5rem;
}

#browse-page-content .card-link:hover, #cart .card-link:hover {
  color: #3E8DED;
}

#browse-page-content .badges, #cart .badges {
  position: absolute;
  top: 1rem;
  right: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#browse-page-content .badges img, #cart .badges img {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}

#browse-page-content .browse-item-rating, #cart .cart-item-rating {
  color: #DEB202;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#browse-page-content .card-link span {
  padding-left: 0.5rem;
}

.no-match-container {
  margin-left: 5rem;
  margin-right: 5rem;
}

.no-match-container span {
  padding-right: 0.5rem;
}

/* course page */

#course-page-content {
  background-color: #F6F6F6;
}

#course-page-content .return-link {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

#course-page-content .return-link a {
  color: #303030;
}

#course-page-content .return-link span {
  margin-right: 0.5rem;
}

/* Reviews Wrapper */

.row-outline-bottom {
  border-bottom: 1px solid #303030;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.125);
}

.course-banner .card {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  background-color: white;
  border: 1px solid #505050;
  border-radius: 0.5rem;
  text-align: center;
}

.course-banner .card-title {
  padding-left: 2rem;
  padding-right: 2rem;
}

.course-banner a:hover {
  border-bottom: 3px solid #303030;
}

.course-instructors {
  color: #555555;
  font-weight: 300;
}

.course-instructors span {
  padding: 0.2rem;
}

.course-description {
  color: gray;
}

.reviews-summary {
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 12rem;
  width: 100%;
  background-color: #303030;
  border-radius: 0.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.rating-display {
  text-align: center;
}

.rating-lg-average {
  color: white;
  font-size: 5rem;
  font-weight: 300;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.rating-total {
  font-size: 1.5rem;
  font-weight: 300;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  color: white;
}

.rating-description {
  font-weight: 300;
  font-size: 1rem;
  color: white;
}

.rating-smart {
  display: block;
  font-weight: 300;
  color: white;
}

.rating-smart a {
  color: white;
}

/* rating bars */
.rating-num {
  font-size: 1.7rem;
  font-weight: 300;
  height: 100%;
  line-height: 100%;
  width: 1rem;
}

.star-container {
  height: 100%;
  padding-left: 0.5rem;
  padding-right: 0.7rem;
}

.rating-star {
  position: relative;
  font-size: 1.2rem;
  height: 70%;
  top: 15%;
}

.rating-bar-inner {
  background-color: white;
  height: 100%;
  width: 0;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  -webkit-transition: width 0.6s linear;
  -moz-transition: width 0.6s linear;
  transition: width 0.6s linear;
}

/* term tabs */

.terms {
  margin-top: 1rem;
  padding: 1rem;
  background-color: white;
  border: 1px solid #303030;
  border-radius: 0.5rem;
}

.terms .nav-tabs {
  border-bottom: none;
}

.terms .nav-tabs .nav-link {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.terms .nav-tabs .nav-link:hover {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid #f6f6f6;
  background-color: #f6f6f6;
}

.terms .nav-tabs .active {
  color: white;
  background-color: #303030;
}

.terms .nav-tabs .active:hover {
  color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #303030;
}

/* reviews */

.reviews {
  color: #303030;
  font-size: 1rem;
}

.reviews .reviews-header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}

.reviews .reviews-title {
  float: left;
  padding-left: 0.2rem;
  padding-top: 0.2rem;
  width: 15rem;
}
.reviews .reviews-title h4 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.reviews .reviews-sort {
  float: right;
}
.reviews .reviews-sort select {
  width: 8rem;
  display: inline-block;
}

.reviews .row {
  background-color: white;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #eeeeee;
  position: relative;
  min-height: 7rem;
}

.reviews .blockquote {
  font-weight: 200;
  border-left: 0.2rem solid #303030;
  width: 90%;
  margin-top: 0.5rem;
  margin-left: 0.2rem;
  margin-bottom: 0.5rem;
  padding-top: 0;
}

.reviews .sentiment {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.reviews .thumbs-up {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
}

.reviews .thumbs-up span i:hover {
  cursor: pointer;
}

/* course page tool panel */

#course-page-content {
  padding-bottom: 1rem;
}

#course-page-content .card-title a {
  color: #303030;
}

#course-page-content .tool-panel {
  margin-top: 1rem;
}

#course-page-content .tool-panel .card {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #303030;
}

#course-page-content .tool-panel .card .card-block {
  padding: 0.5rem;
}

#course-page-content .tool-panel .rant-space-button img {
  height: 5rem;
}

#course-page-content .tool-panel .add-to-cart-button {
  position: relative;
  padding: 0.2rem;
  margin: 0 auto 2rem;
  width: 90%;
  height: 2rem;
  border-radius: 0.2rem;
  background-color: #f6f6f6;
  color: #303030;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

#course-page-content .tool-panel .add-to-cart-button i {
  position: absolute;
  left: 5%;
  top: 20%;
  height: 60%;
}

#course-page-content .tool-panel .add-to-cart-button span {
  position: absolute;
  width: 50%;
  height: 1.6rem;
  top: 0.2rem;
  left: 25%;
}

/* Cart */

#cart {
  padding: 2rem;
}

#cart .cart-title {
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

#cart .list-group-item {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

#cart .card-title {
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
}

#cart .card-text {
  margin-top: 1rem;
}

/* Rant Space */

/* Navbar */

#navbar-rant-space {
  font-family: "Lobster";
  height: 6rem;
  background-color: #303030;
}

#navbar-rant-space .navbar-brand {
  margin: 0 auto;
  font-size: 4rem;
  color: white;
}

.rant-course {
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 2px #f6f6f6;
}

.rant-course .navbar-item span {
  margin-left: 1rem;
}

#rant-space {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 10%;
  margin-right: 10%;
}

#rant-space .rant {
  position: relative;
  margin-bottom: 1rem;
  min-height: 11rem;
}

#rant-space .rant .blockquote {
  width: 90%;
}

#rant-space .list-group-item {
  border-radius: 0.5rem;
  min-height: 11rem;
}

#rant-space .upvote {
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;
}

#rant-space .upvote span {
  display: block;
}

#rant-space .num-upvotes {
  margin: 0;
  padding: 0;
  text-align: center;
}

#rant-space .rant .reply-button {
  position: absolute;
  right: 0.5rem;
  bottom: 2rem;
}

#rant-space .rant .num-replies {
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  text-align: center;
}

#rant-space .your-reply {
  width: 50%;
  margin-left: 50%;
  margin-bottom: 1rem;
}

#rant-space #your-reply-text {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
}

#rant-space #your-reply-text:focus {
  border: 1px solid #303030;
}

#rant-space .replies-wrapper {
  width: 50%;
  margin-left: 50%;
  margin-bottom: 1rem;
  padding-left: 1rem;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom-left-radius: 0.5rem;
  padding-bottom: 0.5rem;
}

#rant-space .reply {
  margin-bottom: 0.5rem;
}

#rant-space .reply {
  min-height: 7rem;
}

#rant-space .reply .blockquote {
  width: 80%;
  font-size: 1rem;
}

#rant-space .reply .upvote {
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;
}

#rant-space .reply .reply-time {
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
}
